.delete-form {
  display: inline;
  margin: 0;
  padding: 0;

  .btn {
    margin: 0;
    padding: 0;
  }
}

.list-item-control:hover {
  text-decoration: none;
}

.eq-width > * {
  flex-basis: 0;
  flex-grow: 1;

  &:last-child {
    text-align: right;
  }
}

.dd {
  max-width: none;

  &-content {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    height: calc(2.19rem + 2px);
    margin: 5px 0;
    padding: 5px 10px 5px 40px;

    &:hover {
      background: #f9f9f9;
    }

    &.no-drag {
      padding-left: 10px;
    }
  }

  &-dragel > &-item > &-content {
    margin: 0;
  }

  &-item {
    line-height: 25px;

    > button {
      height: 27px;
      margin-left: 30px;
    }
  }

  &-handle {
    background: #fff;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    cursor: pointer;
    height: calc(2.19rem + 2px);
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    text-indent: 30px;
    top: 0;
    white-space: nowrap;
    width: 30px;

    &::before {
      color: #000;
      content: '\f0b2';
      display: block;
      font-family: 'Font Awesome 5 Free';
      font-size: 14px;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-weight: 900;
      left: 0;
      opacity: 0.6;
      position: absolute;
      text-align: center;
      text-indent: 0;
      top: 6px;
      width: 100%;
    }

    :hover::before {
      opacity: 1;
    }
  }

  button[data-action='expand'] {
    &::after {
      content: '+';
      margin-left: -64px;
    }
  }

  button[data-action='collapse'] {
    &::after {
      content: '-';
      margin-left: -72px;
    }
  }
}
