.tabs {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  .content {
    flex-direction: column;
  }
}

.tabs-component {
  padding: 20px;
  width: 100%;

  h2 {
    border: 0;
  }

  .tab {
    border: solid thin #ccc;
    margin-top: 20px;
    padding: 10px;
  }
}
