@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext');

$body-bg: #fff;
$font-family-sans-serif: 'Raleway', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

@import '~bootstrap/scss/bootstrap';
@import '~select2/dist/css/select2';
@import './components/layout';
@import './components/sidebar';
@import './components/list';
@import './components/drawler';
@import './components/colored-icons-list';
@import './components/icons-list';
@import './components/header-component';
@import './components/builder';
@import './components/cards';
@import './components/tabs';
@import './../../js/admin/components/Builder/css/Builder';
@import '~antd/dist/antd.css';
@import './components/lang';
@import './components/review';
@import './components/btn-text';
@import './components/color-columns';
@import './components/company-history';
@import './components/solution-option';

@import '~react-datetime/css/react-datetime.css';

h2 {
  border-bottom: 1px solid #cecece;
  color: #212529;
  font-size: 25px;
  font-weight: 300;
  line-height: 0.1em;
  margin: 50px 0 20px;
  text-align: center;
  width: 100%;
}

.element h2 {
  border: 0;
}

h2 span {
  background: #fff;
  padding: 0 10px;
}

.link {
  color: #007bff;
  display: inline;
}

.dropdown-menu {
  min-width: auto;
}

.tooltip {
  z-index: auto;
}

.header-lang {
  color: lighten(black, 50%);
  padding-right: 200px;
  text-align: right;
}

.two-cols {
  align-items: initial;
  flex-direction: column;
}

.header-service-component {
  padding: 20px;
  width: 100%;
}

.flex {
  display: flex !important;
}

form.translation-destroy {
  position: fixed;
  right: 40px;
  top: 80px;
}

.ant-select {
  display: block;
  width: 300px;
}
